
@{
    ViewBag.Title = "ChessBoard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="image-chess">
    <img class="boxstrangle" src="~/Content/coduyluan/Banco.png" alt="" style="position: absolute; margin-left: 476px; width: 38%; margin-top: 82px;">
</div>
@*<div class="chatback">
    <img src="~/Content/imageco/bg.jpg" style="position: absolute; height: 86%; margin-left: 62%; top: 22%; width: 17%; border-radius: 5px" />
</div>*@

